body {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(56, 56, 58);
    color: white;
    font-size: 38px;
    justify-content: center;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding: 15px
}

aside {
    background-color: rgb(230, 228, 228);
}

.search-city-text {
    margin-top: 5px;
    margin-left: 5px;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
}

.sideBar {
    display: flex;
    margin: 5px;
    flex-grow: 1;
    flex-direction: column;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

.date-and-time {
    font-size: 25px;
}

.current-selected-city {
    font-size: 35px;
}

.main-section {
    display: flex;
    flex-grow: 4;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    flex-direction: column;
}

.card-section {
    background-color: grey;
    margin: 5px;
    padding: 15px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
}

.future-main-div {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 5px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

.future-forcast-section {
    margin: 5px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    flex-grow: 1;
}

.five-day-forecast {
    margin: 5px;
    padding:10px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

.future-card {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.future-card-body {
    background-color: lightblue;
    margin: 10px;
    padding: 10px;
}

#UVdiv {
    background-color:crimson;
    color: rgb(230, 228, 228);
    padding: 4px;
}

.input {
    /* height: 100%; */
    margin: 2px;
}

.input-section {
    height: 40px;
    width: 80%;
    margin: 2px;
}

.fas {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    background-color:lightslategrey;
    color: white;
    cursor: pointer;
}

li {
    display: block;
    margin: 5px;
    padding: 5px;
    background-color: white;
}

